:root {
	--primary_color: #1f2937;
	--secundary_color: #3882f6;
	--third_color: #e5e7eb;
	--font: "Roboto", sans-serif;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	font-size: 62.5%;
	font-family: var(--font);
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

header,
footer,
.first_section__container {
	background-color: var(--primary_color);
}

header .logo {
	font-size: 2.4rem;
	font-weight: 900;
	color: #f9faf8;
	height: fit-content;
}

header ul a,
.text_btn__container p {
	font-size: 1.8rem;
	color: #e5e7eb;
}

header ul {
	list-style-type: none;
}

ul li {
	display: inline;
}

header ul a {
	text-decoration: none;
}

header {
	min-height: 6rem;
}

/* First Section  */

.first_section {
	height: 75vh;
	background-color: var(--primary_color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.first_section__container {
	display: flex;
	width: 70%;
	height: 60%;
	margin-bottom: 30px;
}

.first_section__container .text_btn__container {
	width: 50%;
}

.first_section__container img {
	width: 50%;
}

.text_btn__container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.text_btn__container h1 {
	font-size: 4.8rem;
	font-weight: 800;
	color: #f9faf8;
}

.text_btn__container p {
	width: 95%;
	text-align: left;
	margin-bottom: 10px;
}

.text_btn__container button,
.call_to_action button {
	background-color: var(--secundary_color);
	border: none;
	font-size: 1.8rem;
	color: #f9faf8;
	font-weight: 700;
	padding: 7px 30px;
	border-radius: 8px;
	width: 126px;
}

/* Second Section */

.full_card__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 0px 20px;
}

.full_card__container h2 {
	font-size: 3.6rem;
	font-weight: 700;
	color: #1f2937;
}

.card__container {
	display: flex;
	gap: 40px;
	margin-top: 60px;
	margin-bottom: 120px;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card p {
	text-align: center;
	font-size: 1.8rem;
	color: #595858;
	width: 170px;
}

.card__container img {
	width: 160px;
	height: 160px;
	border: #3882f6 4px solid;
	border-radius: 15px;
}

/* Third Section */

article {
	background-color: var(--third_color);
	padding: 120px 0 100px;
}

article .quote__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

article p {
	width: 62%;
	font-size: 3.6rem;
	font-style: italic;
	text-align: center;
}

.quote_autor {
	font-size: 2.4rem;
	text-align: right;
	font-style: normal;
	font-weight: 700;
}

/* call to action section */

.fourth__section {
	padding: 100px 150px;
}

.call_to_action {
	background-color: var(--secundary_color);
	display: flex;
	height: 150px;
	border-radius: 8px;
	justify-content: space-around;
	align-items: center;
}

.call_to_action button {
    width: auto;
	border: 2px solid #f9faf8;
	font-size: 1.8rem;
    font-weight: 700
}

.call_to_action p {
    font-size: 1.8rem;
    color: #f9faf8;
}

.title {
	font-size: 2.4rem;
	font-weight: 700;
	color: #f9faf8;
}


/* Footer */

footer {
    color: #f9faf8;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 400;
    padding: 30px;
}
